<!-- web1/templates/web1/index.html (16-20) -->

<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
    <!-- Agregar hoja de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Página Principal</h1>
        <button type="button" class="btn btn-primary" onclick="location.href='estudiantes'">Ver Lista de Estudiantes</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='blog'">Blog</button>
        <button type="button" class="btn btn-success" onclick="location.href='profesores'">Ver Lista de Profesores</button>
    </div>
</body>
</html>